@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.SearchResults {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    font-family: "Roboto Slab";
}

.SearchResults .title {
    width: 100%;
    color: #2F3C7E;
    font-size: 2.5em;
    background-color: #FFF4F5;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    position: relative;
    right: 22px;
    margin-top: 50px;
}

.SearchResults .headings {
    min-width: 500px;
    background-color: #2F3C7E;
    color: #FFF4F5;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.SearchResults .results {
    background-color: #A3ABD0;
    border-radius: 15px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.SearchResults .result {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.SearchResults .search-bar {
    display: flex;
    position: relative;
    width: 105%;
}

.SearchResults .search-bar input {
    width: 100%;
    height: 45px;
    text-align: left;
    font-size: 15px;
    padding-left: 7px;
    border-radius: 10px;
    border: none;
}

.SearchResults .search-bar button {
    background: none;
    border: none;
    position: relative;
    right: 45px; 
    cursor: pointer;
    margin: 0px;
    margin-top: 4.5px;
}

.SearchResults .search-bar img {
    height: 20px;
    position: relative;
}

.SearchResults .search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    border-radius: 10px;
    cursor: pointer;
    padding: 0;
    width: 36px; 
    height: 36px; 
}

.SearchResults .search-bar button:hover {
    background-color: #2F3C7E;
}

.selectButton {
    border-radius: 10px;
    border: transparent;
    width: 5em;
    margin-top: 5px;
}

.selectButton:hover{
    background-color: #2F3C7E;
    color: #ffff;
}

.SearchResults .search-bar button:hover img {
    filter: invert();
}